<header class="header_section">
    <div class="contact_nav_container">
      <div class="container">
        <div class="contact_nav">
          <a href="">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>
              Address : wisigaton lpusm loram
            </span>
          </a>
          <a href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>
              Email : demo@gmail.com
            </span>
          </a>
          <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>
              Phone Call : +01 123455678990
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <div class="custom_menu-btn">
          <button onclick="openNav()">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>
        </div>
        <div id="myNav" class="overlay">
          <div class="menu_btn-style ">
            <button onclick="closeNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
          </div>
          <div class="overlay-content">
            <a class="" href="index.html"> Home <span class="sr-only">(current)</span></a>
            <a class="active" href="about.html"> About</a>
            <a class="" href="why.html"> Why Us </a>
            <a class="" href="team.html"> Our Team</a>
            <a class="" href="testimonial.html"> Testimonial</a>
            <a class="" href="contact.html"> Contact Us</a>
          </div>
        </div>
        
        <a class="navbar-brand" href="index.html">
          <span>
            Actia Engineering Services
          </span>
        </a>
        <div class="user_option">
          <a class="nav-link" routerLink="/login">
            <span>
              Login
            </span>
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
          
        
          <form class="form-inline">
            <button class="btn  nav_search-btn" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </nav>
    </div>
  </header>
